---
/**
 * Footer 组件
 * 页面底部信息
 */
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<footer class:list={["text-center py-10 text-white/70 text-sm", className]}>
  <div class="mb-2">
    Powered By
    <a
      href="https://github.com/idealclover/Homepage"
      target="_blank"
      class="text-white hover:text-white/100 hover:underline font-bold transition-colors">Homepage</a
    >
  </div>
</footer>
